= simple_form_for @keyword, html: {multipart: true} do |f|
  = f.error_notification

  .form-inputs
    = f.input :word

  .form-inputs
    = image_tag @keyword.image_url if @keyword.image?
    = f.file_field :image
    = f.hidden_field :image_cache

  .form-actions
    = f.button :submit
