%h1 Listing keywords

%span{style:"float:right;"}
  = link_to 'New Keyword', new_keyword_path, class: "btn btn-primary"

- cache "keywords_index_table", skip_digest: true do
  %table.table.table-striped
    %thead
      %tr
        %th Icon
        %th Keyword
        %th Count
        %th 
        %th
        %th
  
    %tbody
      - @keywords.each do |keyword|
        %tr
          %td= image_tag keyword.image.thumb.url unless keyword.image.thumb.url.blank?
          %td= keyword.word
          %td= keyword.tweets.count
          %td= link_to 'Show', keyword, class: "btn btn-default"
          %td= link_to 'Edit', edit_keyword_path(keyword), class: "btn btn-primary"
          %td= link_to 'Destroy', keyword, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"
  