%p#notice= notice

%h1= @keyword.word
%div
  = image_tag @keyword.image.thumb.url if @keyword.image?

%hr

- cache "keywords_show_id_#{@keyword.id}_page_#{params[:page]}", skip_digest: true, expires_in: 5.minutes do

  %h3 Latest Tweets (#{@keyword.tweets.count})
  %ul
    - @tweets.each do |tweet|
      %li
        = image_tag tweet.user_image_url
        = tweet.text


  = will_paginate @tweets

%br

= link_to 'Edit', edit_keyword_path(@keyword)
\|
= link_to 'Back', keywords_path
